#stockDashboard {
	width: 1000px;
	margin: 0 auto;
	border: 1px solid black;
}

#searchStockDiv {
	margin: 2px;
	border-bottom: 1px solid red;
}

#stockGraph {
	margin-top: 3px;
	border-top: 1px solid black;
}

#leaveGame {
	padding: 0;
	margin-top: 5px;
	border: none;
	background: none;
	font-size: 1.1em;	
}