body {
    background-image: url("../img/index.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
h1, h2, h3 {
	color: white;
}

#gameInfo {
	color: black;
}
#hostedGameInfoArea {
	border: 2px white solid;
	background: #dce0e5;
	opacity: 0.97;
}
