body {
    background-image: url("../img/index.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 
h1, h2, h3 {
	color: white;
}
.form-control {
	background-color:#fff0;
}